@using FindIt.Models.Entities
@using FindIt.Models.Manager

@model IEnumerable<FindIt.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";

}

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
       
    </tr>

    @foreach (FindIt.Models.ApplicationUser i in Model)
    {
        <tr>
            <td>@i.Lname</td>
           
            <td>@i.Fname</td>
          <td>
                @Html.ActionLink("Edit", "Edit", new { id = i.Id })
                @Html.ActionLink("Details", "Details", new { id = i.Id })
                @Html.ActionLink("Delete", "Delete", new { id = i.Id }, new { @class = "btnDelete" })
            </td>
        </tr>
    }
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function () {
                return confirm("Voulez vous vraiment supprimer cette utilisateur?");
            });
        });
    </script>
}
