@using FindIt.Models.Entities
@using FindIt.Models.Manager

@model IEnumerable<Product>
@{Layout = null;}



<div class="row masonry-grid-fitrows grid-space-10">
    @foreach (var product in Model)
    {
        if (product.Files != null)
        {
            int image = product.Files.Count;
            <div class="col-md-3 col-sm-6 masonry-grid-item">
                <div class="listing-item white-bg bordered mb-20">
                    @* TODO cette div est juste pour l admin *@

                    @if (User.IsInRole("Admin") || User.IsInRole("Employee") || User.IsInRole("Buyer"))
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = @product.Id }, new { @class = "btn btn-primary btn-sm" })|
                            @Html.ActionLink("Delete", "Delete", new { id = @product.Id }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    }

                    @* details produit Pour les clients  *@
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = @product.Id }, new { @class = "btn btn-info btn-sm" })|
                    </div>
                    <div class="overlay-container">
                        @if (image != 0)
                        {
                            <img src="~/File?id=@product.Files.First(f => f.FileType == FileType.Avatar).FileId" alt=" avatar">
                            <a class="overlay-link popup-img-single" href="~/File?id=@product.Files.First(f => f.FileType == FileType.Avatar).FileId"><i class="fa fa-search-plus"></i></a>
                        }
                        else
                        {
                            <img src="~/Content/images/imageProduct.jpg" alt="">
                            <a class="overlay-link popup-img-single" href="~/Content/images/imageProduct.jpg"><i class="fa fa-search-plus"></i></a>
                        }

                        @*<span class="badge">30% OFF</span>*@
                        @*<div class="overlay-to-top links">
                                <span class="small">
                                    <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                                    <a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
                                </span>
                            </div>*@
                    </div>
                    <div class="body">
                        <h3><a href="shop-product.html">@product.Name</a></h3>
                        <p class="small">@product.Description.</p>
                        <div class="elements-list clearfix">
                            <span class="price"> $@product.Price</span>
                            <a id="myLink" href="#" onclick="AddToCart(@product.Id)" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

</div>

<script>

    function AddToCart(id) {

        var globalRootBaseAjaxUrl = '@VirtualPathUtility.ToAbsolute("~/")';
        var url = globalRootBaseAjaxUrl + "Cart/Add";

        $.ajax({
            type: "POST",
            url: url,
            data: { productsId: id, productsQty: 1 },
        }).done(function (data) {
            $("#cart").html(data);
        });
    }

</script>



